body{
	max-width:70em;
	margin:auto;
}

h1 {
	font-family: Impact, Charcoal, sans-serif ;
}

p {
	width:80%;
	font-size: 125%;
	
}

.defender{
	padding: 10px;
	border: 1px solid black;
	width:95%;
}

ul {
	max-width: 80%;
}
li {
	padding-bottom: 10px;
}

.warning{
	font-family: "Courier New", Courier, monospace;
	color: maroon;
}


table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	border: 3px solid black;
}

figure{
	width:90%;
}

tr{
	height:25px;
}

.evenrow{
	background-color: #fcf497;

}
.oddrow{
	background-color: #a9fcfc;
}

footer{
	max-width: 14em;
	margin: auto;
}

figcaption{
	max-width: 40em;
}

.gears{
	background-image: url("ballyhoovista.jpg");
	background-repeat:no-repeat;
	max-width: 500px;
}
p.warning{
	margin:3px;
	padding:5px;
	border:1px solid black;
}
a:visited{
	color:orange;
}
@media screen and (max-width: 400px) {
	h1{
		font-size: 1.5em
	}
	h2 {
		font-size: 1em;
	}
	p{
		font-size: .75em;
	}
}