body{
	max-width:70em;
}

h1 {
	font-family: Impact, Charcoal, sans-serif ;
}

p {
	width:80%;
	font-size: 125%
	margin: auto;
}

.defender{
	padding: 10px;
	border: 1px black;
	width:95%;
}

ul {
	max-width: 80%;
}
li {
	padding-bottom: 10px;
}

.warning{
	font-family: "Courier New", Courier, monospace;
	color: maroon;
}


table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

table{
	border: 3px solid black;
}

figure{
	width:90%;
}

tr{
	height:25px;
}

.evenrow{
	background-color: #fcf497;

}
.oddrow{
	background-color: #a9fcfc;
}

footer{
	max-width: 50em;
	margin: auto;
}

figcaption{
	max-width: 40em;
}
